{% extends "statsviewers/base_page.html" %}
{% load static %}
{% block titre %}Tracks{% endblock %}
{% block content %}
    {% for element in itemList %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="itemCard">
                    <img src="{% static element.imgLink %}" class="cuppic">
                    <h2 class="cuptitle">{{ element }}</h2>
                    <hr class="solid">
                    <div class="container">
                        <div class="row">
                            {% for item in element.tracklist %}
                            <div class="col-3">
                                <h5 class="tracktitle">{{item}}</h5>
                                <img src="{% static item.imgLink %}" class="trackpic">                            
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    
                </div>                               
            </div>
        </div>
    </div>
    <br><br>
    {% endfor %}
{% endblock %}